$modalTitle.html("Edit <%= @team.name %>");
$modalFooter.html('<div class="mr-auto"><%= j link_to "Delete",
                                  team_path(@team),
                                  remote: true,
                                  method: :delete,
                                  class: "btn btn-danger pull-left",
                                  data: { confirm: "Are you sure?" } %></div>');
$modalFooter.append('<input type="submit" value="Submit" form="edit_team_<%= @team.id %>" class="btn btn-primary">');
$modalBody.html('<%= j render("form", races: @team.tournament.active_races) %>');
$modal.modal();