<!--<p id="notice"><%#= notice %></p>-->
<div class="page-header m-3">
  <h1>Races</h1><%= link_to 'Add race..', new_tournament_race_path, remote: true, class: "btn btn-primary" %>
</div>
<div class="table-responsive-lg m-xl-4 m-lg-4 m-sm-1 m-xs-1">
  <table class="table table-sm" id="races-list">
    <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <% @races.each do |race| %>
      <%= render 'races/row', race: race %>
    <% end %>
    </tbody>
  </table>
</div>
<%#= link_to 'New Tournament', new_tournament_path %>
