<!--<p id="notice"><%#= notice %></p>-->
<div class="page-header">
  <h1>Tournaments</h1>
</div>

<%= render 'tournaments/card', tournaments: @tournaments.active.current %>
<%= render 'tournaments/card', tournaments: @tournaments.active.old %>

<%#= link_to 'New Tournament', new_tournament_path %>
