<% if obj.errors.any? %>
  <div class="pl-3 pr-3 pt-2 pb-1 mb-1 bg-warning text-dark rounded">
    <h6>The <%= obj.class.to_s.downcase %> could not be saved due to the following <%= "error".pluralize(obj.errors.count) %>:</h6>
  <% obj.errors.keys.each do |attr| %>
    <%= attr.capitalize %>:
    <ul>
      <% obj.errors[attr].each do |err| %>
        <li><%= err.capitalize %></li>
      <% end %>
      <% obj.errors[attr].delete_at(1) %>
    </ul>
  <% end %>
  </div>
<% end %>