<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <div class="p-3">
    <h5>Create</h5>
    <%= link_to 'Tournament', new_tournament_path %>
  </div>
</aside>
<div class="control-sidebar-bg"></div>